apiVersion: operator.aquasec.com/v1alpha1
kind: AquaScanner
metadata:
  name: aqua
spec:
  requirements: false
  serviceAccount: "aqua-sa"
  login: 
      username: "administrator"
      password: "Password1"
      host: "http://aqua-server-svc:8080"
  deploy:
    replicas: 1
    service: "ClusterIP"
    image:
      repository: "scanner"
      registry: "registry.aquasec.com"
      tag: "4.0"
      pullPolicy: "IfNotPresent"
